* {
    margin: 0;
    padding: 0;
  
}

body {
    display:flex;
    justify-content:center;
    align-content:center;
    overflow:auto;
}

#wrap {
    /*height: 700px;
    width: 1200px;*/
    height: 98vh;
    width: 98vw;
    background-image: url(../img/Login3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 10px 10px 10px;
}

#head {
    height: 120px;
    width: 100%;
    background-color: #66CCCC;
    text-align: center;
    position: relative;
}

#foot {
    width: 100%;
    height: 126px;
    background-color: #CC9933;
    position: relative;
}

#wrap .logGet {
    min-height: 200px;
    width: 490px;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    top: 35%;
    right: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.logC {
    //height:30px;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
}

.btn {
    margin: 0;
    padding: 0;
    width: 90px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 25px !important;
}

.logGet .logD.logDtip .p1 {
    display: inline-block;
    font-size: 34px;
    margin-top: 30px;
    width: 100%;
}

#wrap .logGet .logD.logDtip {
    width: 86%;
    border-bottom: 1px solid #ee7700;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

#wrap .logGet .lgNotice{
    width: 86%;
    min-height: 10px;
    position: relative;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-left:15px;
}


.logGet .lgD img {
    position: absolute;
    top: 12px;
    left: 8px;
}

.logGet .lgD input {
    width: 100%;
    height: 42px;
    text-indent: 0rem;
}

#wrap .logGet .lgD {
    width: 86%;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

#wrap .logGet .logC {
    width: 86%;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.title {
    font-family: "宋体";
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 使用css3的transform来实现 */
    font-size: 36px;
    height: 40px;
    width: 30%;
}

.copyright {
    font-family: "宋体";
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 使用css3的transform来实现 */
    height: 60px;
    width: 40%;
    text-align: center;
}


#foot .copyright .img {
    width: 100%;
    height: 24px;
    position: relative;
}

.copyright .img .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;
    background-image: url(%E7%94%B5%E5%AD%90%E9%82%AE%E4%BB%B6.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.copyright .img .icon1 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;
    background-image: url(%E5%9C%B0%E5%9D%80.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.copyright .img .icon2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;
    background-image: url(%E8%81%94%E7%B3%BB%E6%96%B9%E5%BC%8F.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

#foot .copyright p {
    height: 24px;
    width: 100%;
}
