* {
    padding:0;
    margin:0;
}
main {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin: 3px;
    height: 98vh;
    border: 1px solid black;
    font-family:Arial, Helvetica, sans-serif;
}

    banner {
        display: flex;
        height:10%;
        align-items: center;
        justify-content: flex-start;
        background-image: url('../img/banner.jpg');
        background-repeat: repeat-x;
        padding-left: 20px;

        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        color: #D1D1D1;
        text-shadow: 1px 1px white, -1px -1px #333;
    }

    div.workarea{
        padding-top:5px;
        display:flex;
        height:85%;
        flex-shrink:0;

    }

    div.workarea nav {
            display: flex;
            flex-direction:column;
            align-content: flex-end;
            flex-grow:1;
            border-right:1px solid #D1D1D1;
            padding:10px;
        }

    div.workarea article {
            display: flex;
            flex-grow: 8;
            align-items: flex-start;
            justify-content: center;
            padding:20px;
        }

        div.workarea article .container {
            display: flex;
            flex-direction: column;
            width:100%;
            height:100%;
            margin: 0px;
            padding: 0px;
        }
.listTitle{
    flex-grow:1;

}
.listContent{
    flex-grow:10;
}

footer {
    /*height: 30px;
        width: 100%;*/
    display: flex !important;
    height:5%;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #D1D1D1;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    color: black;
}

.ui .modal {
    position: relative;
}

th {
    text-transform: uppercase;
    font-weight:bold;
}

.big {
    font-weight:bold !important;
    font-size:15px !important;
    color:red !important;
}

.menu{
    width:100% !important;
    font-size:1.2em;
}