<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/login.css" rel="stylesheet" />
    <link href="~/Register.css" rel="stylesheet" />
    <!--<link href="~/css/site.css" rel="stylesheet" />-->
</head>
<body>
    
        @RenderBody()
       
    
    @if(IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts",required:false)
    }
</body>
</html>
